<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
{% extends 'base.html' %}

{% block header %}
    {% block title %}Plant Details{% endblock %}
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-5 text-center">
                <h2 class="mb-4">{{ plant.name }} <small class="text-muted"> ({{ plant.scientific_name }})</small></h2>
                <ul class="list-group mb-4">
                    {% for key, value in plant.items() %}
                        <li class="list-group-item d-flex justify-content-between bg-light"><strong>{{ key }}:</strong> {{ value }}</li>
                    {% endfor %}
                </ul>
                <a href="/" class="btn btn-primary">New Search</a>
            </div>
        </div>
    </div>
{% endblock %}
</html>