<!DOCTYPE html>
<html lang="en">
<script>
    function fetchSensorData(sensorId) {
        fetch(`/api/sensor/${sensorId}`)
            .then(response => response.json())
            .then(data => {
                document.getElementById('time').textContent = data.time;
                document.getElementById('water').textContent = data.water;
                document.getElementById('sunlight').textContent = data.sunlight;
            });
    }

    const sensorId = "{{ sensor.sensor_id }}";
    setInterval(() => fetchSensorData(sensorId), 5000);
</script>
<head>
    <meta charset="UTF-8">
    <title>Sensor Readings</title>
</head>
<body>
<div>
    <h2><strong>Sensor: {{ sensor.sensor_id }}</strong></h2>
    {% if sensor %}
        <ul>
            {% for record in sensor %}
                <li><span id ="time">Time: {{ record.time }}</span></li>
                <li><span id ="water">Water: {{ record.water }}</span></li>
                <li><span id ="sunlight">Sunlight: {{ record.light }}</span></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No sensor data available.</p>
    {% endif %}
</div>
</body>
</html>